---
layout: default
---
<article>
  <div>
    {{ content }}
  </div>
</article>
</section>

<section class="galery" id="galery">
{% assign posts = site.posts | sort: "order"%}
{% for post in posts %}
  {% if post.categories contains 'photo' %}
    {% assign source = post.thumbnail %}
    <a class="galery-image" id="{{ post.title | replace: ' ', '-' | downcase }}" href="{{ post.url | absolute_url }}" galery-max-width="{% imagesize source:width?height=300 %}"><img src="{{ source }}" alt="{{ post.title }}"></a>
  {% endif %}
{% endfor %}
</section>

<script type="text/javascript">
  function resizeImages(){
    var document_width = document.getElementById('galery').clientWidth - 10;
    var img_width_sum = 0;
    var current_imgs = [];
    console.log("document_width: " + document_width)
    document.querySelectorAll('.galery .galery-image').forEach(img => {
      var img_width = parseInt(img.getAttribute('galery-max-width'));
      console.log("img_width: " + img_width)
      img_width_sum += img_width
      console.log("img_width_sum: " + img_width_sum)
      current_imgs.push(img)
      if (img_width_sum > document_width){
        var scale = document_width * 1.0 / img_width_sum;
        current_imgs.forEach((item, i) => {
          var width = (item.getAttribute('galery-max-width') * 1.0 / img_width_sum) * 100 + '%'
          item.style.width = width;
          item.style.height = (300 * scale) + 'px';
        });
        img_width_sum = 0
        current_imgs = []
      }
    })

    var scale = document_width * 1.0 / img_width_sum;
    if (scale > 1.2 ){
      scale = 1.2
      current_imgs.forEach((item, i) => {
        var width = item.getAttribute('galery-max-width') + 'px'
        item.style.width = width;
        item.style.height = 300 + 'px';
      });
    } else {
      current_imgs.forEach((item, i) => {
        var width = (item.getAttribute('galery-max-width') * 1.0 / img_width_sum) * 100 + '%'
        item.style.width = width;
        item.style.height = (300 * scale) + 'px';
      });
    }
  }

  window.onresize = resizeImages;
  resizeImages();
</script>
