---
layout: default
---
</section>
    <img class="large-image" id="large-image" src="{{ page.photo }}">
<section class="main-content">
  {% if page.taken %}
  <time datetime="{{ page.taken | date_to_xmlschema }}" itemprop="datePublished">
      {% assign date_format = site.cayman-blog.date_format | default: "%b %-d, %Y" %}
      {{ page.taken | date: date_format }}
  </time> {% if page.place %}-{% endif %}
  {% endif %}
  {% if page.place %}
  {{page.place}}
  {% endif %}
  <h2> {{page.title}} </h2>
  <div itemprop="articleBody">
    {{ content }}

    <a href="/portfolio#{{ page.title | replace: ' ', '-' | downcase }}">back to Gallery</a>
  </div>

  <script type="text/javascript">
    var image = document.getElementById("large-image");

    image.addEventListener("click", function(e) {
      if (!document.fullscreenElement) {
        image.requestFullscreen().then(
          screen.orientation.lock("landscape").catch(function(error) {}))
      } else {
        document.exitFullscreen();
      }
    })
  </script>
